<div class="time-cards">
    <div class="row page-top-bar">
        <div class="section col l4">
            <div class="btn-group">
                <a class="btn green accent-5 " href="#!">APPROVE ALL</a>
            </div>
        </div>
        <div class="col l4">
            <h2 class="center-align">TIME CARDS</h2>
            <pay-period></pay-period>
        </div>
        <search></search>
    </div>
    <div id="time-cards" class="row">
        <time-card card="timeCard" card-index="i" ng-repeat="(i, timeCard) in $ctrl.timeCards track by $index"></time-card>
    </div>
    <time-cards-modal card="$ctrl.selectedCard" ng-if="$ctrl.showModal" ></time-cards-modal>
</div>