<div class="time-card-header center-align">
    <i class="fa fa-angle-left pp-arrow"></i>
    <span>PAY PERIOD</span>
    <span>|</span>
        <!--<span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">08/28/16 - 09/03/16
        </span>-->
    <span class="dropdown">
        <a href="#" ng-click="$ctrl.changeShowTable($event)" id="pay-period-date" class="dropdown-button" data-toggle="dropdown" aria-haspopup="true">
            <span id="pay-period-date">
                {{$ctrl.weeks[3].startDate}} - {{$ctrl.weeks[3].endDate}}
            </span>
        </a>
        <div id="pay-period-dropdown" ng-show="$ctrl.showTable" class="dropdown-menu dropdown-menu-right" aria-labelledby="pay-period-date">
            <div id="pay-period-date-select" ng-scroll-up="$ctrl.moveWeeks('up')">
                <div class="center-align">
                    <i id="arrow-up" class="fa fa-angle-up center-align" ng-click="$ctrl.moveWeeks('up')"></i>
                </div>
                <ul id="pay-periods">
                    <li 
                        ng-repeat="(i, w) in $ctrl.weeks"
                        ng-class="{'selected': i == 3}"
                        ng-click="i !== 3 && $ctrl.updateWeek(i)"
                        class="picker-option">
                        {{w.startDate}} - {{w.endDate}}
                    </li>
                </ul>
                <div class="center-align">
                    <i id="arrow-down" class="fa fa-angle-down center-align" ng-click="$ctrl.moveWeeks('down')"></i>
                </div>
            </div>
            <div id="pay-period-year-select">
                <div class="center-align">
                    <i id="move-up" ng-click="$ctrl.moveYears('up')" class="fa fa-angle-up center-align"></i>
                </div>
                <ul id="pay-period-years">
                    <li 
                        ng-repeat="(i, y) in $ctrl.years"
                        ng-class="{'selected': i == 3}"
                        ng-click="i !== 3 && $ctrl.updateYear(y)"
                        class="year-option">{{y}}</li>
                </ul>
                <div class="center-align">
                    <i id="move-down" ng-click="$ctrl.moveYears('down')" class="fa fa-angle-down center-align"></i>
                </div>
            </div>
        </div>
    </span>
    <i class="fa fa-angle-right pp-arrow"></i>
</div>