<div class="row image-circle-row">
    <div class="col l12">
        <div class="step-progress ">
            <div class="step-progress-row">
                <div class="step-progress-step col" ng-class="$ctrl.boxClass" ng-if="$ctrl.showAdminBox" >
                    <img src="./assets/img/user-male.png" 
                        ng-class="$ctrl.imgClass"
                        class="image-circle-green" 
                        >
                    <br>
                    <div class="green-progress-circle clicked-circle center-align">
                        <div class="left-aligned-tooltip hidden" >
                            <div class="tooltip-image"><img class="image-circle-green-small" src="./assets/img/user-male.png"></div>
                            <div ng-if="$ctrl.card.approvedAdmin" class="tooltip-user-name">{{$ctrl.approvedAdminName}}</div>
                            <div ng-if="$ctrl.card.approvedAdmin" class="tooltip-approved-status">{{$ctrl.adminApprovedDate | date: 'MM/dd/yyyy at h:mma'}} 8/29/16 at 1:02pm PDT</div>
                        </div>
                    </div>
                </div>
                <div class="step-progress-step col" ng-class="$ctrl.boxClass" ng-if="$ctrl.showSupervisorBox">
                    <img class="image-circle-grey user-image" src="./assets/img/user-neutral.png">
                    <br>
                    <div class="grey-progress-circle user-circle">
                        <div class="middle-aligned-tooltip hidden">
                            <div class="tooltip-image"><img class="image-circle-grey-small user-image-small" src="./assets/img/user-neutral.png"></div>
                            <div class="tooltip-user-name">Michael Scott</div>
                            <div class="tooltip-waiting-status">Click to Approve</div>
                        </div>
                    </div>
                </div>
                <div class="step-progress-step col" ng-class="$ctrl.boxClass" ng-if="$ctrl.showEmployeeBox">
                    <img ng-class="$ctrl.imgClass" class="image-circle-opacity" src="./assets/img/user-female.png">
                    <br>
                    <div class="opacity-progress-circle">
                        <div class="right-aligned-tooltip hidden">
                            <div class="tooltip-image"><img class="image-circle-opacity-small" src="./assets/img/user-female.png"></div>
                            <div class="tooltip-user-name">Pam Halpert</div>
                            <div class="tooltip-waiting-status">Awaiting Approval</div>
                        </div>
                    </div>
                </div>
                <div class="line-cont">
                    <div class="first-progress-line" ng-class="{'green-progress-line': $ctrl.firstApproval}"></div>
                    <div class="second-progress-line" 
                        ng-class="{'grey-progress-line': $ctrl.firstApproval, 'green-progress-line': $ctrl.secondApproval}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
