<div class="col l4 right-align utilities">
    <i class="material-icons search">search</i>
    <input class="search" type="text" placeholder="Search Time Cards">
    <span class="divider"></span>
    <span class="dropdown">
        <a href="#" class="sort-filter dropdown-button" 
            data-activates="sort-filter-drop" id="sort-filter-drop" 
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="true">Sort / Filter</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-content" aria-labelledby="sort-filter-drop">
            <ul class="sort">
                <li class="title">User Last Name</li>
                <li><a href="#!">Ascending (A-Z)</a></li>
                <li><a href="#!">Descending (Z-A)</a></li>
                <li class="divider"></li>
                <li class="title">Department Name</li>
                <li><a href="#!">Ascending (A-Z)</a></li>
                <li><a href="#!">Descending (Z-A)</a></li>
            </ul>
            <ul class="sort">
                <li class="title">Payroll ID</li>
                <li><a href="#!">Lowest to Highest</a></li>
                <li><a href="#!">Highest to Lowest</a></li>
            </ul>
        </div>
    </span>
    <!-- sorts and filters -->

    <span class="divider"></span>
    <i class="material-icons list-view">view_list</i>
    <i class="material-icons card-view on">view_module</i>
</div>