@mixin cells-width() {

}

#time-cards-view-modal{
  z-index: 13;
  display: inline-flex;
  // display: table;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  border-radius: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  margin: 0;
  max-height: 100%;
  overflow: hidden;
}

.grey-row-background{
    background-color: #ececec;
  // td {
  //   background-color: #ececec;
  // }
}

.punch-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.add-punch {
  // margin-left: 4%;
  text-align: left;
}

#time-cards-headers-table {
  th {
    // text-align: center;
  }
  th:nth-child(1), td:nth-child(1) { width: 17% }; 
  th:nth-child(2), td:nth-child(2) { width: 20% }; 
  th:nth-child(3), td:nth-child(3) { width: 10% }; 
  th:nth-child(4), td:nth-child(4) { width: 10% }; 
  th:nth-child(5), td:nth-child(5) { width: 5% }; 
  th:nth-child(6), td:nth-child(6) { width: 5% }; 
  th:nth-child(7), td:nth-child(7) { width: 6% }; 
  th:nth-child(8), td:nth-child(8) { width: 6% }; 
  th:nth-child(9), td:nth-child(9) { width: 6% }; 
  th:nth-child(10), td:nth-child(10) { width: 6% }; 
  th:nth-child(11), td:nth-child(11) { width: 5% }; 
  th:nth-child(12), td:nth-child(12) { width: 5% }; 
}


#time-cards-table {
  thead {
    border: none;
  }
  th, td {
    // text-align: center;
    padding: 0;
  }

  // @include cellss-width();


  .cell-punches {
    position: relative;
  }
}

.table-punches{
  // position: absolute;
  // top: 0;
  color: #666;
  // td {
  //   padding: 10px;
  
  //   &:nth-child(1) { width: 23% }; //1+1
  //   &:nth-child(2) { width: 12% }; //1+1
  //   &:nth-child(3) { width: 12% }; // 1+1
  //   &:nth-child(4) { width: 7% }; // 1+1
  //   &:nth-child(5) { width: 6% }; // 1
  //   &:nth-child(6) { width: 7% }; // 1
  //   &:nth-child(7) { width: 7% }; // 1
  //   &:nth-child(8) { width: 7% }; // 1
  //   &:nth-child(9) { width: 7% }; // 1
  //   &:nth-child(10) { width: 6% }; // 1
  //   &:nth-child(11) { width: 6% }; // 1

  //   &.edit-pencil {
  //     position: relative;
  //     cursor: pointer;

  //     &:before {
  //       content: "\E254";
  //       font-family: 'Material Icons';
  //       position: absolute;
  //       font-size: 17px;
  //       color: #47c3f7;
  //       font-weight: normal;
  //       left: -30px;
  //     }
  //   }
  // }
  li {
    position: relative;
    &:hover {
      position: relative;
      cursor: pointer;

      &:before {
        content: "\E254";
        font-family: 'Material Icons';
        position: absolute;
        font-size: 17px;
        color: #47c3f7;
        font-weight: normal;
        left: -30px;
      }
    }

    div {
      position: relative;
      display: inline-flex;
      padding-top: 10px;
      padding-bottom: 10px;

      &:nth-child(1) { width: 23% };
      &:nth-child(2) { width: 12% };
      &:nth-child(3) { width: 11% };
      &:nth-child(4) { width: 5% };
      &:nth-child(5) { width: 6% };
      &:nth-child(6) { width: 7% };
      &:nth-child(7) { width: 7% };
      &:nth-child(8) { width: 6% };
      &:nth-child(9) { width: 7% };
      &:nth-child(10) { width: 6% };
      &:nth-child(11) { width: 6% };
    }
  }
  .edit-pencil {
      position: relative;
      cursor: pointer;

      &:before {
        content: "\E254";
        font-family: 'Material Icons';
        position: absolute;
        font-size: 17px;
        color: #47c3f7;
        font-weight: normal;
        left: -30px;
      }
    }
}

.pay-period-modal {
  &.modal-header {
    &.row {
      border: none;
    }
  }
}
