<ul id="punches-add">
    <li>
      <div>
        <div class="timecard-dropdown break-dropdown" >
          <div class="punch-type" ng-click="$ctrl.enable('punchTypes')">
            <span ng-if="!$ctrl.data.punchTypeId">Punch Type</span>
            <span ng-if="$ctrl.data.punchTypeId">{{$ctrl.show('punchTypes', $ctrl.data.punchTypeId)}}</span>
          </div>
          <ul ng-if="$ctrl._show.punchTypes">
            <li ng-repeat="d in $ctrl.punchTypes" ng-click="$ctrl.select('punchTypes', 'punchTypeId', d.id)">{{d.name}}</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="timecard-dropdown department-dropdown">
          <div ng-click="$ctrl.enable('departments')">
            <span ng-if="!$ctrl.data.departmentId">Department</span>
            <span ng-if="$ctrl.data.departmentId">{{$ctrl.show('departments', $ctrl.data.departmentId)}}</span>
          </div>
          <ul ng-if="$ctrl._show.departments">
            <li ng-repeat="d in $ctrl.departments" ng-click="$ctrl.select('departments', 'departmentId', d.id)">{{d.name}}</li>
          </ul>
        </div>
      </div>
      <div>
        <div ng-if="$ctrl._show.benefits " class="timecard-dropdown benefit-dropdown">
          <div class="benefit-text" ng-click="$ctrl.enable('benefitTypes')">
            <span ng-if="!$ctrl.data.benefitTypeId">Type</span>
            <span ng-if="$ctrl.data.benefitTypeId">{{$ctrl.show('benefitTypes', $ctrl.data.benefitTypeId)}}</span>
          </div>
          <ul ng-if="$ctrl._show.benefitTypes">
            <li ng-repeat="d in $ctrl.benefitTypes" class="vacation-benefit" ng-click="$ctrl.select('benefitTypes', 'benefitTypeId', d.id)">{{d.name}}</li>
          </ul>
        </div>

        <div class="punch-input-container" ng-if="!$ctrl._show.benefits">
          <div class="">
            <!--<div class="timecard-tooltip hidden">
              <div class="tooltip-manual-edit">Manual Edit by</div>
              <div class="tooltip-user-name">Michael Scott</div>
              <div class="tooltip-date-added">10/14/2016 at 2:55 PM</div>
              <div class="tooltip-ip-address">from IP: 184.177.172.90</div>
              <div class="tooltip-caret-border"></div>
            </div>-->
            <div class="">
              <input type="text" name="name" class="time-format punch-input" value="01:00 PM" placeholder="12:00 PM" ng-model="$ctrl.data.in">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="punch-input-container" ng-if="!$ctrl._show.benefits">
          <div class="">
            <!--<div class="timecard-tooltip hidden">
              <div class="tooltip-manual-edit">Manual Edit by</div>
              <div class="tooltip-user-name">Michael Scott</div>
              <div class="tooltip-date-added">10/14/2016 at 2:55 PM</div>
              <div class="tooltip-ip-address">from IP: 184.177.172.90</div>
              <div class="tooltip-caret-border"></div>
            </div>-->
            <div class="">
              <input type="text" class="time-format punch-input" placeholder="12:00 PM" value="12:00 PM" ng-model="$ctrl.data.out">
            </div>
          </div>
        </div>
        <div ng-if="$ctrl.edditingPunch">
          <i class="fa fa-trash delete-punch" aria-hidden="true" ng-click="$ctrl.deletePunch()"></i>
        </div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <div class="benefit-input-container"  ng-if="$ctrl.data.benefitTypeId == 'vac'">
          <!--<i class="fa fa-trash delete-punch" aria-hidden="true"></i>-->
          <div class="">
            <input type="text" name="name" class="benefit-input vacation-input" placeholder="40:00" ng-model="$ctrl.data.vac">
          </div>
        </div>
      </div>
      <div>
        <div class="benefit-input-container" ng-if="$ctrl.data.benefitTypeId == 'hol'">
          <div class="">
            <input type="text" name="name" class="benefit-input holiday-input" placeholder="40:00" ng-model="$ctrl.data.hol">
          </div>
        </div>
      </div>
      <div>
        <div class="benefit-input-container" ng-if="$ctrl.data.benefitTypeId == 'sic'">
          <div class="">
            <input type="text" name="name" class="benefit-input other-input" placeholder="40:00" value="">
          </div>
        </div>
      </div>
      <div>
        <div class="benefit-input-container" ng-if="$ctrl.data.benefitTypeId == 'oth'">
          <div class="">
            <input type="text" name="name" class="benefit-input sick-input" placeholder="40:00" ng-model="$ctrl.data.oth">
          </div>
        </div>
      </div>
      <div></div>
    </li>
    
    <li>
      <div></div>
      <div></div>
      <td colspan="10">
        <textarea maxlength="200" rows="3" type="text" name="name" class="note-input" placeholder="Enter note here"  required ng-model="$ctrl.data.note"></textarea>
        <a href="#" class="save-punch" ng-click="$ctrl.savePunch($event)">SAVE</a>
        <a href="#" class="cancel-punch" ng-click="$ctrl.cancelPunch($event)">CANCEL</a>
      </div>
    </li>
  </tbody>
</ul>