#punches-add{
  position: relative;
  width: 120%;
  left: -20.5%;
  margin-top: -2%;
  li {
    padding-top: 5px;
    padding-bottom: 5px;
    div{
      display: inline-flex;
      &:nth-child(1) { 
        width: 17% !important;
        div {
          width: 100% !important;
        }
      }

      &:nth-child(2) { 
        width: 19% !important;
        div {
          width: 100% !important;
        }
      }; 
      &:nth-child(3) {
        width: 10% !important;
        div {
          width: 100% !important;
        }
      };
      &:nth-child(4) { width: 9% !important }; 
      &:nth-child(5) { width: 4% !important }; 
      &:nth-child(6) { width: 4% !important }; 
      &:nth-child(7) { width: 7% !important}; 
      &:nth-child(8) { width: 5% !important }; 
      &:nth-child(9) { width: 6% !important }; 
      &:nth-child(10) { width: 6% !important }; 
      &:nth-child(11) { width: 5% !important }; 
      &:nth-child(12) { width: 5% }; 
    }
  }

}

.delete-punch {
  position: absolute;
  top: 40%;
  left: 160%;
}