<!-- TOP BAR -->
<header class="head-bar">
    <!-- BRANDING -->
    <img class="staffing-logo" src="./assets/img/legion.png" alt="branding">

    <!-- CLOCK -->
    <span class="clock">
        <span class="clock-time">11:11<span class="am-pm">AM <b>PST</b></span></span>
        <span class="clock-date">Thursday, September 21, 2016</span>
    </span>

    <!-- USER INFO -->
    <div class="usericon">
        <img src="./assets/img/user-icon.png" alt="user-icon">
            <ul>
                <li>
                    <a href="http://designdev.staffmyclients.com/pages/time-cards.html#">Logout</a>
                </li>
            </ul>
    </div>
    <div class="user-info">
        <span class="user-info-name">Thommy Johnson</span>
        <span class="user-info-account">Iron Build Corp - 12047948</span>
    </div>
</header>