<div class="col l3">
    <div class="card time-card" >
        <div class="card-content">
            <div class="row" ng-click="$ctrl.selectCard()">
                <div class="col l12 job-position"><img class="house" src="./assets/img/house.jpg" alt="" />{{$ctrl.card.deptName}}</div>
            </div>
            <div>
                <div class="card-full-name">{{$ctrl.card.firstName}} {{$ctrl.card.lastName}}</div>
            </div>

            <approval card="$ctrl.card"></approval>

            <div class="row payroll-id-row">
                <div class="col l12 card-data-input"><span class="payroll-id">Payroll ID</span> - {{$ctrl.card.payrollNumber}}</div>
            </div>
        </div>
        <div class="row time-information">
            <div class="row">
                <div class="col l12 card-pay-period">{{$ctrl.card.startDate}} - {{$ctrl.card.endDate}}</div>
            </div>
            <ul class="flex-container nowrap hour-type">
                <li class="flex-item">REG</li>
                <li class="flex-item">OT1</li>
                <li class="flex-item">OT2</li>
                <li class="flex-item">VAC</li>
                <li class="flex-item">HOL</li>
                <li class="flex-item">SIC</li>
                <li class="flex-item">OTH</li>
            </ul>
            <ul class="flex-container nowrap hour-amount">
                <li class="flex-item">{{$ctrl.card.reg}}</li>
                <li class="flex-item">{{$ctrl.card.ot1}}</li>
                <li class="flex-item">{{$ctrl.card.ot2}}</li>
                <li class="flex-item">{{$ctrl.card.vac}}</li>
                <li class="flex-item">{{$ctrl.card.hol}}</li>
                <li class="flex-item">{{$ctrl.card.sic}}</li>
                <li class="flex-item">{{$ctrl.card.oth}}</li>
            </ul>
        </div>
    </div>
</div>