<div class="nav-side-menu menu-in" id="main-nav-bar">
    <!-- MENU FOR DESKTOP -->
    <div class="menu-list-desktop">
        <ul>
            <li class="menu-link">
                <a href="/">
                    <i class="material-icons nav-icon">home</i>
                    <div class="sub-link">Dashboard</div>
                </a>
            </li>

            <li class="menu-link">
                <a href="#">
                    <i class="material-icons nav-icon">tune</i>
                    <div class="sub-link">Settings</div>
                </a>
                <ul class="sub-link sub-menu">
                    <a href="#">
                    </a>
                    <li>
                        <a href="#"></a><a href="/pages/settings.html">Timecard</a></li>
                    <li><a href="/pages/settings-punch-mgmt.html">Punch Management</a></li>
                    <li><a href="/pages/settings-export.html">Export</a></li>
                </ul>

            </li>

            <li class="menu-link">
                <a href="/pages/departments.html">
                    <i class="material-icons nav-icon">business</i>
                    <div class="sub-link">Departments</div>
                </a>
            </li>

            <li class="menu-link">
                <a href="/pages/users.html">
                    <i class="material-icons nav-icon">perm_identity</i>
                    <div class="sub-link">Users</div>
                </a>
            </li>

            <li class="menu-link active">
                <a href="/pages/time-cards.html">
                    <i class="material-icons nav-icon">library_books</i>
                    <div class="sub-link">Time Cards</div>
                </a>
            </li>

            <li class="menu-link">
                <a href="#">
                    <i class="material-icons nav-icon">insert_chart</i>
                    <div class="sub-link">Reports</div>
                </a>
                <ul class="sub-link sub-menu">
                    <a href="#">
                    </a>
                    <li>
                        <a href="#"></a><a href="/pages/summary-report.html">Payroll Report</a></li>
                </ul>

            </li>

            <li class="menu-link support">
                <a href="#">
                    <i class="material-icons nav-icon">live_help</i>
                    <div class="sub-link">Support</div>
                </a>
            </li>

        </ul>
    </div>

    <!-- TOP BAR FOR MOBILE -->
    <div class="brand"><img id="staffing-logo" src="./assets/img/legion-white.png"></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <i class="fa fa-user fa-2x toggle-btn menu-content-two" data-toggle="collapse" data-target=".menu-content-two-mobile"></i>
    <i class="fa fa-clock-o fa-2x toggle-btn menu-content-three" data-toggle="collapse" data-target="#menu-content-three"></i>


    <!-- TIME INFORMATION FOR MOBILE -->
    <div class="menu-list-three">
        <div id="menu-content-three" class="menu-content collapse out mobile-user-info">
            <span>11:11am <b>PST</b></span>
            <span>Thursday, September 21, 2016</span>
        </div>
    </div>

    <!-- USER AND ACCOUNT INFORMATION FOR MOBILE -->
    <div class="menu-list-two">
        <div class="menu-content-two-mobile menu-content collapse out mobile-user-info">
            <span>Matthew Williamson</span>
            <span>Iron Electronics - 23556465</span>
        </div>
        <div class="menu-content-two-mobile menu-content collapse out mobile-user-info">
            <a href="#">Logout</a>
        </div>
    </div>

    <!-- MENU FOR MOBILE -->
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li class="menu-link">
                <a href="/">
                    <i class="material-icons nav-icon">home</i>
                    <span class="sub-link">Home</span>
                </a>
            </li>

            <li class="menu-link">
                <a href="/pages/settings.html">
                    <i class="material-icons nav-icon">tune</i>
                    <span class="sub-link">Settings</span>
                </a>
                <ul class="sub-link sub-menu">
                    <a href="/pages/settings.html">
                    </a>
                    <li>
                        <a href="/pages/settings.html"></a><a href="/pages/settings.html">Timecard</a></li>
                    <li><a href="/pages/settings-punch-mgmt.html">Punch Management</a></li>
                    <li><a href="/pages/settings-export.html">Export</a></li>
                </ul>

            </li>

            <li class="menu-link">
                <a href="/pages/departments.html">
                    <i class="material-icons nav-icon">business</i>
                    <span class="sub-link">Departments</span>
                </a>
            </li>

            <li class="menu-link">
                <a href="/pages/users.html">
                    <i class="material-icons nav-icon">perm_identity</i>
                    <span class="sub-link">Users</span>
                </a>
            </li>

            <li class="menu-link">
                <a href="/pages/time-cards.html">
                    <i class="material-icons nav-icon">library_books</i>
                    <span class="sub-link">Timecards</span>
                </a>
            </li>

            <li class="menu-link">
                <a href="/pages/reports.html">
                    <i class="material-icons nav-icon">insert_chart</i>
                    <span class="sub-link">Reports</span>
                </a>
                <ul class="sub-link sub-menu">
                    <a href="/pages/reports.html">
                    </a>
                    <li>
                        <a href="/pages/reports.html"></a><a href="/pages/summary-report.html">Summary Report</a></li>
                </ul>

            </li>

        </ul>
    </div>

    <!--Support Modal From Nav-->
    <div id="support-modal">
        <div id="support-modal-container">
            <div class="support-header">
                CONTACT SUPPORT
                <div id="support-modal-close">
                    <span><i class="material-icons">close</i></span>
                </div>
            </div>
            <div class="support-modal-content">
                <div>
                    <span><i class="material-icons">phone</i></span>
                    <div>Phone</div>
                    <div><a href="#">(800) 518-8925</a></div>
                </div>
                <div>
                    <span><i class="material-icons">textsms</i></span>
                    <div>Text</div>
                    <div><a href="#">(858) 683-7877</a></div>
                </div>
                <div>
                    <div><i class="material-icons">email</i></div>
                    <div>Email</div>
                    <div><a href="#">support@staffmyclients.com</a></div>
                </div>
                <div>
                    <div><i class="material-icons">library_books</i></div>
                    <div>Knowledge Base</div>
                    <div><a href="http://support.staffmyclients.com/support/home" target="_blank">support.staffmyclients.com</a></div>
                </div>
            </div>
        </div>
    </div>
</div>