
<!doctype html>
<html ng-app="angularApp" ng-strict-di lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=0">
  <title>Legion - Pilot Project</title>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <base href="/">
</head>
<body>
    <app>
        loading....
    </app>
<script type="text/javascript" src="Scripts/dist/vendor.c58156697bc2c21bf166.js"></script><script type="text/javascript" src="Scripts/dist/app.c58156697bc2c21bf166.js"></script></body>
</html>