<div id="time-cards-view-modal" class="modal add-edit-view select-role">
    <div class="row modal-header select-role-header">
        <div class="col l2 nav" >
            <a 
                id="left-arrow-time-cards"
                class="grey-text text-darken-1"
                ng-if="$ctrl.prevCard"
                ng-click="$ctrl.updateCard(false)"
            >
                <span style="opacity: 1;">{{$ctrl.prevCard.firstName}} - {{$ctrl.prevCard.lastName}}</span><br><i class="material-icons nav">arrow_back</i>
            </a>
        </div>
        <div class="col l8 center-align">
            <h4 id="title-time-cards" class="green-text text-accent-5" style="opacity: 1;">{{$ctrl.card.firstName}} - {{$ctrl.card.lastName}}</h4>
        </div>
        <div class="col l2 nav right-align">
            <a
                id="right-arrow-time-cards"
                class="grey-text text-darken-1"
                ng-if="$ctrl.nextCard"
                ng-click="$ctrl.updateCard(true)"
            >
                <span>{{$ctrl.nextCard.firstName}} - {{$ctrl.nextCard.lastName}}</span><br><i class="material-icons nav">arrow_forward</i>
            </a>
        </div>
    </div>

    <div class="pay-period-modal modal-header row">
        <div class="col l4 search-employees-container">
            <i id="search-employees-icon" class="material-icons search active">search</i><input id="search-employees" placeholder="Search Employees">
            <div id="search-employees-dropdown"><ul><li>Janice Anne</li><li>Emily Reallyreallylonglastnamekeepsgoingonforever</li></ul></div>
        </div>
        <div class="col l4 center-align">
            <pay-period></pay-period>
        </div>
        <div class="col l4 right-align utilities">
            <a id="show-notes" href="#!" title="Show All Notes" style="display: none;"><i class="material-icons">description</i></a>
            <a id="hide-notes" href="#!" title="Hide All Notes" style="display: none;"><i class="material-icons">description</i></a>
            <a href="/pages/time-card-print.html" target="_blank" title="Print"><i class="material-icons print">print</i></a>
            <a id="time-cards-email" href="#!" title="Email"><i class="material-icons email">email</i></a>
            <a href="#!" title="Export"><i class="material-icons launch">launch</i></a>
            <a href="#" title="Recalculate" id="timecard-recalculation"><i class="fa fa-calculator calculator"></i></a>
            <div id="email-modal">
                <div class="row">
                    <div class="email-title">Email Time Card</div>
                </div>
                <div class="row">
                    <div id="select-email" class="timecard-dropdown input-field">
                        <div>Select Email</div>
                        <ul>
                            <li>jkim@processingpoint.com</li>
                            <li>swest@processingpoint.com</li>
                            <li>kyleoside@processingpoint.com</li>
                            <li>credman@processingpoint.com</li>
                        </ul>
                        <label for="select-email" data-error="Oops, Please enter a valid email." class="active">CHOOSE EMAIL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input placeholder="example@gmail.com" id="enter-email" type="email" class="validate">
                        <label for="enter-email" data-error="Oops, Please enter a valid email." class="active">OR ENTER EMAIL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <textarea rows="3" placeholder="Enter message here" id="optional-message" type="text"></textarea>
                        <label for="optional-message" class="active">OPTIONAL MESSAGE</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12">
                        <a href="#!" class="btn blue darken-3" id="submit-email">SUBMIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="headers-padding-top">
        <table id="time-cards-headers-table">
            <tbody>
                <tr>
                    <th class="date-width">DATE</th>
                    <th class="department-width">DEPARTMENT</th>
                    <th class="in-out-width">IN</th>
                    <th class="in-out-width">OUT</th>
                    <th class="benefit-width">REG</th>
                    <th class="benefit-width">OT1</th>
                    <th class="benefit-width">OT2</th>
                    <th class="benefit-width">VAC</th>
                    <th class="benefit-width">HOL</th>
                    <th class="benefit-width">SIC</th>
                    <th class="benefit-width">OTH</th>
                    <th class="benefit-width">TOTAL</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="big-container scroll-container">
        <div class="time-cards-table-container">
            <div class="time-cards-modal row">
                <ul id="time-cards-table">
                    <li class=" row" ng-repeat="(indexDay, day) in $ctrl.days" ng-class="{'grey-row-background':$even}">
                        <div class="col l2">
                            {{day.date.formatted}}
                        </div>
                        <div class="col l10">
                            <ul id="table-punches-{{indexDay}}" class="table-punches">
                                <li
                                    ng-hide="punch.hideRow"
                                    ng-repeat="(indexPunch, punch) in day.punches" 
                                    ng-click="$ctrl.editPunch($event, indexPunch, indexDay, punch, day)"
                                >
                                    <div ng-class="{'edit-pencil': day.showEditIcon }">
                                        <span ng-if="!punch.breakOrLunch">{{punch.departmentName}}</span>
                                        <span ng-if="punch.breakOrLunch">{{punch.breakOrLunch}}</span>
                                    </div>
                                    <div >
                                        <span ng-if="!punch.benefitType">{{punch.inPunchTime}}</span>
                                        <span ng-if="punch.benefitType">{{punch.benefitType}}</span>
                                    </div>
                                    <div>
                                        <span ng-if="!punch.benefitType">{{punch.outPunchTime}}</span>
                                    </div>
                                    <div>{{punch.reg}}</div>
                                    <div>{{punch.ot1}}</div>
                                    <div>{{punch.ot2}}</div>
                                    <div>{{punch.vac}}</div>
                                    <div>{{punch.hol}}</div>
                                    <div>{{punch.sic}}</div>
                                    <div>{{punch.oth}}</div>
                                    <div>{{punch.tot}}</div>
                                </li>
                                <li id="liPunchForm-{{indexDay}}">
                                    <time-cards-modal-punches-add ng-if="day.showForm" index="indexDay" ></time-cards-modal-punches-add>
                                </li>
                            </ul>

                        </div>
                        <div class="col l12 punch-row">
                            <div class="add-punch" ng-if="!day.showForm" ng-click="$ctrl.showAddPunchForm(indexDay, day)">+ PUNCH </div>
                            
                        </div>
                    </li>
                </ul>
            </div>

            <div class="summary-table-container">
                <div class="summary-table-container-padding">
                    <table id="time-cards-summary-table">
                        <tbody>
                            <tr>
                                <th width="15%" class="date-width"></th>
                                <th width="21%" class="department-width total-hours-worked" rowspan="2">TOTAL HOURS</th>
                                <th width="10%" class="in-out-width"></th>
                                <th width="10%" class="in-out-width"></th>
                                <th width="5%" class="benefit-width">REG</th>
                                <th width="5%" class="benefit-width">OT1</th>
                                <th width="6%" class="benefit-width">OT2</th>
                                <th width="6%" class="benefit-width">VAC</th>
                                <th width="6%" class="benefit-width">HOL</th>
                                <th width="6%" class="benefit-width">SIC</th>
                                <th width="5%" class="benefit-width">OTH</th>
                                <th width="5%" class="benefit-width">TOTAL</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>08:00</td>
                                <td>02:00</td>
                                <td>00:00</td>
                                <td>00:00</td>
                                <td>00:00</td>
                                <td>00:00</td>
                                <td>00:00</td>
                                <td>00:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="transfers-table-container">
                <!--<div class="approvals-container">
                    <div class="approvals">APPROVALS</div>
                    <div class="approvals-inner-container">
                        <div class="row">
                            <div class="image-width">
                                <img class="image-circle-green" src="./assets/img/user-male.png">
                                <div class="first-progress-line"></div>
                            </div>
                            <div class="user-width">
                                <div class="tooltip-user-name">Johnathan Smitherson</div>
                            </div>
                            <div class="date-time-width">
                                <div class="tooltip-approved-status">8/29/16 at 1:02pm PDT</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="image-width">
                                <div class="second-progress-line"></div>
                                <img class="image-circle-grey user-image" src="./assets/img/user-neutral.png">
                            </div>
                            <div class="user-width">
                                <div class="tooltip-user-name">Supervisor</div>
                            </div>
                            <div class="date-time-width">
                                <div class="tooltip-waiting-status">Awaiting Approval</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="image-width">
                                <div id="opacity-mask"></div>
                                <img class="image-circle-opacity" src="./assets/img/user-female.png">
                            </div>
                            <div class="user-width">
                                <div class="tooltip-user-name">Administrator</div>
                            </div>
                            <div class="date-time-width">
                                <div class="tooltip-waiting-status">Awaiting Approval</div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--<div class="department-transfers-container">
                    <div class="department-transfers">HOURS BY DEPARTMENT</div>
                    <div class="headers-padding">
                        <table>
                            <tbody>
                                <tr>
                                    <th width="25%">CODE</th>
                                    <th width="50%">DEPARTMENT</th>
                                    <th width="25%">TOTAL</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-container1">
                        <table id="time-cards-transfers-table">
                            <tbody>
                                <tr>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">008</td>
                                    <td class="static-grey-td">Department 1</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">008</td>
                                    <td class="static-grey-td">Department 1</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">008</td>
                                    <td class="static-grey-td">Department 1</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">008</td>
                                    <td class="static-grey-td">Department 1</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">008</td>
                                    <td class="static-grey-td">Department 1</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">008</td>
                                    <td class="static-grey-td">Department 1</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">008</td>
                                    <td class="static-grey-td">Department 1</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">008</td>
                                    <td class="static-grey-td">Department 1</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">007</td>
                                    <td class="static-grey-td">Department 2</td>
                                    <td class="static-grey-td">01:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->
                <!--<div class="accruals-container">
                    <div class="accruals">ACCRUALS</div>
                    <div class="table-container2">
                        <table id="time-cards-accruals-table">
                            <tbody>
                                <tr>
                                    <th width="25%">PAY CODE</th>
                                    <th width="25%">ACCRUED</th>
                                    <th width="25%">USED</th>
                                    <th width="25%">AVAIL</th>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">OT2</td>
                                    <td class="static-grey-td">00:00</td>
                                    <td class="static-grey-td">00:00</td>
                                    <td class="static-grey-td">00:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">OT2</td>
                                    <td class="static-grey-td">00:00</td>
                                    <td class="static-grey-td">00:00</td>
                                    <td class="static-grey-td">00:00</td>
                                </tr>
                                <tr>
                                    <td class="static-grey-td">SIC</td>
                                    <td class="static-grey-td">00:00</td>
                                    <td class="static-grey-td">00:00</td>
                                    <td class="static-grey-td">00.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="modal-footer row">
        <div class="col l2 nav left-align">
            <a href="#!" ng-click="$ctrl.closeModal($event)" class="modal-action modal-close waves-green grey-text text-darken-1"><i class="material-icons nav">close</i><br><span>CLOSE</span></a>
        </div>
        <div class="col l2 offset-l8 right-align">
            <a href="#!" id="approve-timecard" class="modal-action employee-select btn blue darken-3">APPROVE</a>
        </div>
    </div>
</div>